# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
.claude
server/.claude
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server/node_modules
server/.env
server/api.config.yaml

utils   
server/sessions
server/CLAUDE.md
server/workspace
outputs
CLAUDE.md